* {
  font-family: 'Pretendard Variable', Helvetica, 'SpoqaHanSansNeo', 'Noto Sans KR', '맑은 고딕', 'Noto Sans KR', sans-serif;
  vertical-align: middle;
  font-size: 14px;
  list-style: none;
}

*a {
  color: inherit;
  text-decoration: none;
}
