body {
  margin: 0;
  font-family: 'pretendard', 'SpoqaHanSansNeo', 'Noto Sans KR', 'pretendard', '맑은 고딕', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*a {
  color: inherit;
  text-decoration: none;
}
